<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="8d7dd0dd-0663-4a61-9a8b-4ed147142bdd" name="Release 2" disabled="true" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="a3bbb405-2127-4689-8f81-61478deb38e1fileName">Release-2</con:setting>
    <con:setting id="8d7dd0dd-0663-4a61-9a8b-4ed147142bddfileName">Release-2</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties>
    <con:property>
      <con:name>StudentPersonalRefId</con:name>
      <con:value/>
    </con:property>
  </con:properties>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="02e1b66e-5963-4de7-b043-dcb6acc71d67">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:testSuite>
