<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="efe8da2c-c116-4d73-8af4-1b4519cf2a51" name="Fix Retest" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="efe8da2c-c116-4d73-8af4-1b4519cf2a51fileName">Fix-Retest</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="02e1b66e-5963-4de7-b043-dcb6acc71d67">
      <con:authProfile>SIF Mock - Basic Auth</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:testSuite>
