<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="abb56da4-cee4-4ac4-ab63-21c04c101f91" name="GlobalSetup" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="abb56da4-cee4-4ac4-ab63-21c04c101f91fileName">GlobalSetup</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="02e1b66e-5963-4de7-b043-dcb6acc71d67">
      <con:authProfile>SIF Mock - Basic Auth</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:testSuite>
